.sidebar{
    position: fixed;
    top: 100px;
    left: 0;
    width: 200px;
    height: 100%;
    background: #FFF8F0;
   }
   .sidebar ul{
    padding:0px;
}
.sidebar ul li a{
    display: block;
    padding: 16px 25px;
    color: #0e94d4;
    border-bottom: #0B4A72 solid 1px;
}

   .sidebar ul li a .icon{
    font-size: 18px;
    color: #0B4A72;
    vertical-align: middle;
   }
   .sidebar .hamburger{
    font-size: 16px;
    cursor: pointer;
    color: #0B4A72;
    vertical-align: middle;
    padding: 16px 25px;
    border-bottom:  #0B4A72 solid 1px;
   } 
   
   
   .sidebar ul li a .text{
    margin-left: 19px;
    color: #0B4A72;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
   }
   
   .sidebar ul li a:hover{
    background: #8FBDD3;
    color: #fff;
   }

   
   